/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #F8F8F8 url('/images/bg-pattern.gif');
  color: #484d43;
  font: normal 12px/150% Verdana, Arial, sans-serif;
}

.copse-font {
  font-family: 'Copse', serif;
  font-size: 13px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.main-header{
  padding-left: 0;
  padding-right: 0;
  min-height: 150px;
  margin-bottom:20px;
}

.header-wrapper {
  height: 75px;
  margin-bottom: 20px;
}

.header-wrapper .navbar-menu {
  font-size: 13px;
  font-family: 'Flamenco', cursive;
  color:#333;
}

.header-wrapper .nav {
  border-bottom: 1px dashed #C27C86;
}

.header-wrapper .nav > li > a {
  position: relative;
  display: block;
  padding: 4px;
  color:#484d43;
}

.header-wrapper .nav > li > a:hover {
  background: transparent;
  color: #C27C86;
}

.header-wrapper .nav-pills > li.active > a {
  background: transparent;
  font-weight: bold;
}

.main-menu {

}

.main-menu .main-menu-wrapper .main-menu-ul {
  border-bottom: 1px dashed #C27C86;
  margin-right: 0px;
}

.main-menu .main-menu-wrapper .main-menunavbar {
  font-size: 18px;
  font-family: 'Flamenco', cursive;
  color: #333;
  min-height: 53px;
}

.main-menu-ul > li {
  margin-left: 10px;
}

.main-menu-ul > li > a {
  position: relative;
  display: block;
  padding: 4px;
  color: #484d43;
}

.main-menu-ul > li > a:hover {
  background: transparent;
  color: #C27C86;
}

.main-menu-ul > li > a:focus {
  background-color: transparent !important;
  border: none !important;
  outline: none;
}

.main-menu-ul > li > a:active {
  background-color: #eeeeee;
  border-color: #428bca;
  font-weight: bold;
}

.input-cleared {
  background-color: transparent;
  border: none;
  -webkit-box-shadow:none;
  box-shadow:none;
}

.border-dotted {
  border: 1px dashed #C27C86;
}

.border-bottom-dotted {
  border-bottom: 1px dashed #C27C86;
}

.borderless {
  border:none !important;
}

.main-banners-block {
  margin-bottom:10px;
}

.main-banners-block .carousel ol {
  bottom:-50px;
}

.main-banners-block .carousel-indicators li{
  border: 1px solid #C27C86;
}

.main-banners-block .carousel-indicators li.active{
  background-color: #C27C86;
  border: none;
}

.main-message-block {
  margin-top: 75px;
  margin-bottom:75px;
  min-height:100px;
}

.main-message-block .main-banner-title {
  text-align: center;
  font-size: 31px;
  font-family: 'Flamenco', cursive;
  line-height: 50px;
  margin-bottom: 20px;
}

.main-message-block .main-banner-subtitle {
  text-align: center;
  font-size: 26px;
  font-family: 'Flamenco', cursive;
  line-height: 26px;
  margin-bottom: 20px;
}

.main-small-images-block {
  margin-bottom:10px;
}

.main-small-images-block .header {
  border-bottom: 1px dashed #C27C86;
  text-align: center;
  font-size: 15px;
  margin-bottom:10px;
  font-family: 'Flamenco', cursive;
}

/* Custom page footer */
.main-footer {
  margin-top: 100px;
}

.main-footer .footerNav {
  background: url('/images/bg-footer.gif') no-repeat 0 0;
  background-size: 203% auto;
}

.main-footer .inner {
  background: url('/images/bg-footer.gif') no-repeat -974px 100%;
  padding: 20px 110px 35px;
  overflow: hidden;
  background-size: 203% auto;
}

.main-footer .socialLinks {
  text-align: center;
}

.main-footer .socialLinks ul,
.main-footer .socialLinks ol{
  list-style: none;
}

.main-footer .socialLinks .facebook img {
  width: 70px;
  text-align: middle;
  padding-bottom: 10px;
}

.main-footer .socialLinks .facebook a:hover {
  text-decoration: none;
}

.main-footer-facebook {
  font-family: 'Flamenco', cursive;
  font-size: 30px;
  color: #333;
}

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.rounded-box {
  margin-left: 0;
  margin-right: 0;
  background-color: #fff;
  border-width: 1px;
  border-color: #ddd;
  border-radius: 4px;
  box-shadow: none;
  border-style: solid;
}

.admin-price {
  padding: 10px 0;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px dashed #ccc;
  border-width: 1px 0;
}

.admin-label {
  margin-right: 5px;
}

.img-to-load {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 10px;
  cursor: pointer;
  overflow: hidden;
}

.img-to-load .glyphicon {
  width: 100%;
  text-align: center;
  padding-top: 11px;
}

.img-to-load input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  height: 50px;
}

.img-to-load .progress-bar-loading {
  margin-top: 10px;
}

.img-to-load img {
  width: 40px;
  height: 40px;
}

.img-to-load .remove-photo {
  position: absolute;
  top: -4px;
  right: 7px;
  color: red;
  font-size: 18px;
}


/* Main Visible styles */
.logo-container {
  position: absolute;
  margin-left: 20px;
}


.main-thumbnail {
  position: relative;
  background: url('/images/sprite-product.png') no-repeat 0 0;
  height: 160px;
  width: 196px;
  padding: 9px 13px 20px 6px;
  overflow: hidden;
  float: left;
  margin: 3px;
  cursor: pointer;
  background-size: 435%;
}

.main-thumbnail.catalog-thumbnail {
  margin: 10px 25px;
}

.main-thumbnail .main-thumbnail-hidder {
  overflow: hidden;
  width: 183px;
  height: 132px;
}

.main-thumbnail .main-thumbnail-hidder img {
  width: 191px;
  position: relative;
  top: -2px;
}

.carousel-control {
  position: absolute;
  top: 40%;
  left: 15px;
  width: 30px;
  height: 30px;
  font-size: 60px;
  font-weight: 100;
  line-height: 30px;
  text-align: center;
  background: #222222;
  border-radius: 30px;
  opacity: 0.1;
  filter: alpha(opacity=10);
  cursor: pointer;
 }

.carousel-control .icon-prev {
  margin-top: -17px;
  font-size: 30px;
}

.carousel-control .icon-next {
  margin-top: -17px;
  right: 0px;
  font-size: 30px;
  margin-left: -15px;
}

.carousel-control.right {
    right: 15px;
    left: auto;
}

.carousel-control.left {
    left: 15px;
    right: auto;
}

.carousel-control:hover,
.carousel-control:focus {
    color: #ffffff;
    text-decoration: none;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.favourites-body .carousel ol,
.newest-body .carousel ol {
  bottom: -50px;
}

.favourites-body .carousel-indicators li.active,
.newest-body .carousel-indicators li.active {
  background-color: #C27C86;
  border: none;
}

.favourites-body .carousel-indicators li,
.newest-body .carousel-indicators li {
  border: 1px solid #C27C86;
}

.main-catalog {

}

.main-catalog *, .main-catalog *:before, .main-catalog *:after {box-sizing:  border-box !important;}

.main-catalog .row-catalog {
 -moz-column-width: 190px;
 -webkit-column-width: 190px;
 -moz-column-gap: 0em;
 -webkit-column-gap: 0em; 
}

.main-catalog .item-wrapper {
  display: inline-block;
  margin:  0.25rem;
  padding:  1rem;
  width:  100%; 
  cursor: pointer;
}

.main-catalog .item-wrapper .item-description {
  font-family: 'Flamenco', cursive;
  margin-top: 10px;
}

.main-catalog .item-wrapper .item-description .title {
  font-size: 16px;
  font-weight: bold;
  color: #C27C86;
}

.main-catalog .item-wrapper .item-description .price {
  font-size: 22px;
  font-weight: bold;
  text-align: right;
  margin-right: 12px;
}

.left-navbar {
  border-right: 1px dashed #C27C86;
  border-bottom: 1px dashed #C27C86;
  padding-bottom: 20px;
}

/* Nested Sortable List */

.nestedSortable-list {
  display: block;
  position: relative;
  margin: 0px;
  padding: 0px;
  list-style: none;
  padding-right: 20px;
  max-height: 398px;
  overflow-y:auto;
}

.nestedSortable-sublist {
    padding-left: 30px;
}

.nestedSortable-item, .nestedSortable-placeholder {
  display: block;
  position: relative;
  margin: 0px;
  padding: 0px;
  min-height: 20px;
  line-height: 20px;
}
.nestedSortable-handle {
    cursor: move;
    display: block;
    margin: 5px 0;
    padding: 8px 12px;
    background: #f8faff;
    border: 1px solid #dae2ea;
    color: #7c9eb2;
    text-decoration: none;
    font-weight: bold;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1.5em;
}
.nestedSortable-handle:hover {
    color: #438eb9;
    background: #f4f6f7;
    border-color: #dce2e8;
}
.nestedSortable-placeholder {
    margin: 5px 0;
    padding: 0;
    min-height: 30px;
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.nestedSortable-drag {
    position: absolute;
    pointer-events: none;
    z-index: 999;
    opacity: .8;
}


.nestedSortable-table {
    width: 100%;
} 

.nestedSortable-table-sublist {
    margin-left: 30px;
}

.nestedSortable-table-item, .nestedSortable-table-placeholder {
}

.nestedSortable-handle {
  height: 50px;
  cursor: move;
}

.nestedSortable-handle .anchor-icon {
  float: left;
  top: 9px;
}

.nestedSortable-handle .options-icons {
  margin-top: 6px;
}

.nestedSortable-handle input {
  width: calc(100% - 100px);
  float: left;
}

.nestedSortable-table-handle {
    cursor: move;
    background: #f8faff;
    border: 1px solid #dae2ea;
    color: #7c9eb2;
    text-decoration: none;
    font-weight: bold;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 20px;
    line-height: 20px;
    padding: 10px 10px;
}

.nestedSortable-table-handle:hover {
    color: #438eb9;
    background: #f4f6f7;
    border-color: #dce2e8;
}

.nestedSortable-table-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.nestedSortable-table-drag {
    position: absolute;
    pointer-events: none;
    z-index: 999;
    opacity: .8;
}


/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 970px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Article styles */
.article textarea{
  min-height: 300px;
  max-height: 600px;
  resize: vertical;
}

.article .article-table .item-id{
  cursor: pointer;
}

.article .article-table .first-icon{
  cursor: pointer;
}

.article .article-table .second-icon{
  margin-left:10px;
  cursor: pointer;
}

.article-title{

}

.article-title h1{
  font-family: 'Flamenco', cursive;
  border-bottom: 1px dashed #C27C86;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* Customize container */
@media (max-width: 768px){
  .logo-container {
    max-width: 90px;
  }

  .carousel-control .icon-next {
    right: 4px;
  }

  .carousel-control .icon-prev {
    left: 15px;
  }

  .main-menu-ul > li {
    border-bottom: 1px dashed #C27C86;
    text-align: center;
  }

  .main-menu .main-menu-wrapper .main-menu-ul {
    border-bottom: none;
  }

  .main-menu-ul > li > a {
    text-align: center;
  }

  .main-menu .main-menu-wrapper .main-menu-ul {
    margin: 7.5px 0px 0px -10px;
  }

  .left-navbar {
    display: none;
  }

}

/* Customize container */
@media (max-width: 500px){
  .logo-container {
    max-width: 60px;
  }
}

/* Customize container */
@media (max-width: 991px) {
  .left-navbar {
    display: none;
  }
}