/* Space out content a bit */
body {
  background: #F8F8F8 url('/images/bg-pattern.gif');
  color: #484d43;
  font: normal 12px/150% Verdana, Arial, sans-serif;
}

.highlight{
  padding: 9px 14px;
  margin-bottom: 14px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
}

.pointer {
  cursor: pointer;
}

.copse-font {
  font-family: 'Copse', serif;
  font-size: 13px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.header{
  text-align: right;
}

/* Custom page header */

/* Make the masthead heading the same height as the navigation */
.global-header{

}

.global-header-wrapper{
}

.global-header-wrapper .header-style{
  background-color: #ECBFC6;
  width: 100%;
  height: 100px;
  margin-top: 0px;
  padding-top: 0px;
  border-bottom: 10px solid #C27C86;
  position: absolute;
}

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.main-header{
  padding-left: 0;
  padding-right: 0;
  min-height: 150px;
  margin-bottom:20px;
}

.header-wrapper {
  height: 80px;
  margin-bottom: 20px;
  margin-top: 9px;
  color: #ffffff;
  text-align: right;
}

.header-wrapper .navbar-menu {
  font-size: 13px;
  font-family: 'Flamenco', cursive;
  color:#333;
}

.header-navbar-menu {
  display: inline-block;
}

.header-wrapper .nav {

}

.header-wrapper .nav > li > a {
  position: relative;
  display: block;
  padding: 4px;
  color: white;
  font-size: 14px;
}

.header-wrapper .nav > li > a:hover {
  background: transparent;
  color: #C27C86;
}

.header-wrapper .nav-pills > li.active > a {
  background: transparent;
  font-weight: bold;
}

.cart-wrapper{
  position: relative;
}

.main-menu {

}

.main-menu .main-menu-wrapper .main-menu-ul {
  border-bottom: 1px dashed #C27C86;
  margin-right: 0px;
}

.main-menu .main-menu-wrapper .main-menunavbar {
  font-size: 18px;
  font-family: 'Flamenco', cursive;
  color: #333;
  min-height: 53px;
}

.main-menu-ul > li {
  margin-left: 10px;
}

.main-menu-ul > li > a {
  position: relative;
  display: block;
  padding: 4px;
  color: #484d43;
}

.main-menu-ul > li > a:hover {
  background: transparent;
  color: #C27C86;
}

.main-menu-ul > li > a:focus {
  background-color: transparent !important;
  border: none !important;
  outline: none;
}

.main-menu-ul > li > a:active {
  background-color: #eeeeee;
  border-color: #428bca;
  font-weight: bold;
}

.input-cleared {
  background-color: transparent;
  border: none;
  -webkit-box-shadow:none;
  box-shadow:none;
}

.border-dotted {
  border: 1px dashed #C27C86;
}

.border-bottom-dotted {
  border-bottom: 1px dashed #C27C86;
}

.borderless {
  border:none !important;
}

.white-box {
  background-color: #fff;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px rgba(50, 50, 50, 0.38);
}

.spin {
  -webkit-animation-name: ddspin;
  -webkit-animation-duration: 800ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: ddspin;
  -moz-animation-duration: 800ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -o-animation-name: ddspin;
  -o-animation-duration: 800ms;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;
  -ms-animation-name: ddspin;
  -ms-animation-duration: 800ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: ddspin;
  animation-duration: 800ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.article-spin {
  width: 100%;
  margin: 20px auto;
  display: block;
}


@-ms-keyframes ddspin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}

@-moz-keyframes ddspin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}

@-webkit-keyframes ddspin {
    from { -webkit-transform: rotate(0deg); -webkit-transform-origin: 50% 50%; }
    to { -webkit-transform: rotate(360deg); -webkit-transform-origin: 50% 50%; }
}

@keyframes ddspin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
.main-banners-block {
  margin-bottom:10px;
}

.main-banners-block .carousel ol {
  bottom:-50px;
}

.main-banners-block .carousel-indicators li{
  border: 1px solid #C27C86;
}

.main-banners-block .carousel-indicators li.active{
  background-color: #C27C86;
  border: none;
}

.main-message-block {
  margin-top: 75px;
  margin-bottom:75px;
  min-height:100px;
}

.main-message-block .main-banner-title {
  text-align: center;
  font-size: 40px;
  font-family: 'Flamenco', cursive;
  line-height: 50px;
  margin-bottom: 20px;
}

.main-message-block .main-banner-subtitle {
  text-align: center;
  font-size: 26px;
  font-family: 'Flamenco', cursive;
  line-height: 26px;
  margin-bottom: 20px;
}

.main-small-images-block {
  margin-bottom:10px;
}

.main-small-images-block .header {
  border-bottom: 1px dashed #C27C86;
  text-align: center;
  font-size: 17px;
  margin-bottom:10px;
  font-family: 'Flamenco', cursive;
}

/* Custom page footer */
.global-footer{
  width: 100%;
  margin-top: 115px;
  background-color: #C27C86;
}

.global-footer .row{
  margin: 0px;
}

.global-footer .global-footer-wrapper{
  width: 100%;
  font-size: 13px;
  color: #ffffff;
  background-color: #C27C86;
  padding-top: 10px;
}

.global-footer .main-block{
  background-color: #C27C86;
  border-top: 1px dashed #ffffff;
  padding: 15px 0;
}

.global-footer .main-block textarea{
  resizable: none;
}

.global-footer .secondary-block{
  height: 80px;
  background-color: #7C4F55;
  padding-top: 10px;
}

.global-footer .social-links ul,
.global-footer .social-links ol{
  padding: 0px;
  list-style: none;
  color: #ffffff;
}

.global-footer .social-links .facebook a,
.global-footer .social-links .facebook a:hover {
  text-decoration: none;
  color: #ffffff;
}

.social-icon--facebook {
  display: inline-block;
  background-image: url('/images/dubiduba_sprites.png');
  background-position: -290px 0px;
  width: 14px;
  height: 14px;
   vertical-align: text-top;
  margin-right: 5px;
}

.paypal-logo {
  display: inline-block;
  background-image: url('/images/paypal.png');
  background-position: 0px -15px;
  vertical-align: text-top;
  margin-right: 5px;
  height: 36px;
  width: 60px;
}

.rounded-box {
  margin-left: 0;
  margin-right: 0;
  background-color: #fff;
  border-width: 1px;
  border-color: #ddd;
  border-radius: 4px;
  box-shadow: none;
  border-style: solid;
}

.admin-tabs .nav-tabs{
  cursor: pointer;
}

.admin-tabs .tab-content{
  background-color: white;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}

.admin-price {
  padding: 10px 0;
  font-size: 18px;
  font-weight: bold;
}

.admin-label {
  margin-right: 5px;
}

.admin-article-tabs{
  padding: 30px 10px 10px 10px;
}

.admin-article-tabs .nav-tabs{
  cursor: pointer;
}

.admin-article-tabs .tab-content{
  background-color: white;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}

.article-list {
  padding: 20px;
}

.article-list li {
  cursor: pointer;
}

.stock-container{
  padding: 20px;
}

.stock-container .stock-seeker{
  text-align: right;
  margin-bottom: 20px;
}

.stock-container .stock-results-header h4 a,
.stock-container .stock-results-header h4 a:hover{
  font-size:13px;
  text-decoration: none;
  cursor: pointer;
}

.stock-container .delete-stock-icon{
  cursor: pointer;
}

.sizes-list {
  padding: 20px;
}

.sizes-list li {
  cursor: pointer;
}

.sizes-list .delete-size-icon{
  cursor: pointer;
}

.sizes-list .btn-sizes-accept{
  margin: 20px 0 !important;
}

.img-to-load {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 10px;
  cursor: pointer;
  overflow: hidden;
}

.img-to-load .glyphicon {
  width: 100%;
  text-align: center;
  padding-top: 11px;
}

.img-to-load input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  height: 50px;
}

.img-to-load .progress-bar-loading {
  margin-top: 10px;
}

.img-to-load img {
  width: 40px;
  height: 40px;
}

.img-to-load .remove-photo {
  position: absolute;
  top: -4px;
  right: 7px;
  color: red;
  font-size: 18px;
}


/* Main Visible styles */
.logo-container {
  position: absolute;
  margin-left: 20px;
  top: 22px;
}

.main-thumbnail {
  position: relative;
  background: url('/images/sprite-product.png') no-repeat 0 0;
  height: 160px;
  width: 196px;
  padding: 9px 13px 20px 6px;
  overflow: hidden;
  float: left;
  margin: 3px;
  cursor: pointer;
  background-size: 435%;
}

.main-thumbnail.catalog-thumbnail {
  margin: 10px 25px;
}

.main-thumbnail .main-thumbnail-hidder {
  overflow: hidden;
  width: 183px;
  height: 132px;
}

.main-thumbnail .main-thumbnail-hidder img {
  width: 191px;
  position: relative;
  top: -2px;
}

.carousel-control {
  position: absolute;
  top: 40%;
  left: 15px;
  width: 30px;
  height: 30px;
  font-size: 60px;
  font-weight: 100;
  line-height: 30px;
  text-align: center;
  background: #222222;
  border-radius: 30px;
  opacity: 0.1;
  filter: alpha(opacity=10);
  cursor: pointer;
 }

.carousel-control .icon-prev {
  margin-top: -17px;
  font-size: 30px;
}

.carousel-control .icon-next {
  margin-top: -17px;
  right: 0px;
  font-size: 30px;
  margin-left: -15px;
}

.carousel-control.right {
    right: 15px;
    left: auto;
}

.carousel-control.left {
    left: 15px;
    right: auto;
}

.carousel-control:hover,
.carousel-control:focus {
    color: #ffffff;
    text-decoration: none;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.favourites-body .carousel ol,
.newest-body .carousel ol {
  bottom: -50px;
}

.favourites-body .carousel-indicators li.active,
.newest-body .carousel-indicators li.active {
  background-color: #C27C86;
  border: none;
}

.favourites-body .carousel-indicators li,
.newest-body .carousel-indicators li {
  border: 1px solid #C27C86;
}

.favourites-body .img-thumbnail,
.newest-body .img-thumbnail{
  cursor: pointer;
}

.newest-titles,
.favourites-titles{
  color: #C27C86;
  font-family: 'Flamenco', cursive;
  font-size: 14px;
  margin-top: 7px;
}

.main-catalog {

}

.main-catalog *, .main-catalog *:before, .main-catalog *:after {box-sizing:  border-box !important;}

.main-catalog .row-catalog {
 -moz-column-width: 190px;
 -webkit-column-width: 190px;
 -moz-column-gap: 0em;
 -webkit-column-gap: 0em; 
}

.main-catalog .item-wrapper {
  display: inline-block;
  margin:  0.25rem;
  padding:  1rem;
  width:  100%; 
  cursor: pointer;
  text-align: center;
}

.main-catalog .item-wrapper .item-description {
  font-family: 'Flamenco', cursive;
  margin: 10px 7px;
}

.main-catalog .item-wrapper .item-description .title {
  font-size: 16px;
  font-weight: bold;
  color: #C27C86;
}

.main-catalog .item-wrapper .item-description .price {
  font-size: 22px;
  font-weight: bold;
  text-align: right;
  margin-right: 12px;
}

.main-catalog .img-thumbnail{
  text-align: left;
  -moz-box-shadow: 7px 7px 5px #C2C2C2;
  -webkit-box-shadow: 7px 7px 5px #C2C2C2;
  box-shadow: 7px 7px 5px #C2C2C2;
}

.img-responsive-wrapper{
  max-height: 127px;
  margin-bottom: 0px;
  overflow: hidden;
}

.img-responsive-wrapper img{
  min-height: 185px;
  min-width: 187px;
}

.left-navbar {
  border-right: 1px dashed #C27C86;
  border-bottom: 1px dashed #C27C86;
  padding-bottom: 20px;
}

/* Nested Sortable List */

.nestedSortable-list {
  display: block;
  position: relative;
  margin: 0px;
  padding: 0px;
  list-style: none;
  padding-right: 20px;
  max-height: 398px;
  overflow-y:auto;
}

.nestedSortable-sublist {
    padding-left: 30px;
}

.nestedSortable-item, .nestedSortable-placeholder {
  display: block;
  position: relative;
  margin: 0px;
  padding: 0px;
  min-height: 20px;
  line-height: 20px;
}
.nestedSortable-handle {
    cursor: move;
    display: block;
    margin: 5px 0;
    padding: 8px 12px;
    background: #f8faff;
    border: 1px solid #dae2ea;
    color: #7c9eb2;
    text-decoration: none;
    font-weight: bold;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1.5em;
}
.nestedSortable-handle:hover {
    color: #438eb9;
    background: #f4f6f7;
    border-color: #dce2e8;
}
.nestedSortable-placeholder {
    margin: 5px 0;
    padding: 0;
    min-height: 30px;
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.nestedSortable-drag {
    position: absolute;
    pointer-events: none;
    z-index: 999;
    opacity: .8;
}


.nestedSortable-table {
    width: 100%;
} 

.nestedSortable-table-sublist {
    margin-left: 30px;
}

.nestedSortable-table-item, .nestedSortable-table-placeholder {
}

.nestedSortable-handle {
  height: 50px;
  cursor: move;
}

.nestedSortable-handle .anchor-icon {
  float: left;
  top: 9px;
}

.nestedSortable-handle .options-icons {
  margin-top: 6px;
}

.nestedSortable-handle input {
  width: calc(100% - 100px);
  float: left;
}

.nestedSortable-table-handle {
    cursor: move;
    background: #f8faff;
    border: 1px solid #dae2ea;
    color: #7c9eb2;
    text-decoration: none;
    font-weight: bold;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 20px;
    line-height: 20px;
    padding: 10px 10px;
}

.nestedSortable-table-handle:hover {
    color: #438eb9;
    background: #f4f6f7;
    border-color: #dce2e8;
}

.nestedSortable-table-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.nestedSortable-table-drag {
    position: absolute;
    pointer-events: none;
    z-index: 999;
    opacity: .8;
}

/* My Cart */

.simpleCart_items{
  border-bottom: 1px solid #ddd;
}

.simpleCart_items table{
  width: 100%;
}

.simpleCart_items .headerRow{
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-bottom: 1px solid #ddd;
}

.simpleCart_items .itemRow{
  height: 80px;
}

.simpleCart_items th {

}

.simpleCart_items .item-thumb img{
  width: 90px;
}

.simpleCart_shelfItem .item-thumb{
  text-align: center;
}

.total_costs {
  text-align: right;
  margin-top: 20px;
}

.total_cost_text{
  font-size: 18px;
  margin-right: 45px;
}

.total_cost_value{
  font-size: 30px;
  margin-right: 13px;
}

.end_buy{
  margin-top: 20px;
  text-align: right;
}

.continue_buying{
  margin-right:20px;
}

.simpleCart_checkout{
  margin-right: 16px;
}

.total_costs .simpleCart_shipping{
  margin-right: 16px;
}

.total_costs .simpleCart_total{
  margin-right: 16px;
}

.send_costs {
  color: #8D8D8D;
}

.send_cost_text{
  margin-right: 20px;
  font-weight: bold;
}

.header .simpleCart_total {
  padding: 4px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  color: #ffffff;
  background-color: #C27C86;
  border-color: #C27C86;
  vertical-align: middle;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 970px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Article styles */
.article-view {
  padding: 20px;
}

.article-price-wrapper{
  height: 60px;
  margin-top: 30px;
  text-align: right;
}

.article-price {
  font-size: 31px;
  font-weight: bold;
  background-color: #C27C86;
  color: white;
  padding: 11px 12px 8px;
  border-radius: 4px;
}

.article-image-content {
  padding: 75px 20px 25px 20px;
  text-align: center;
}

.lazyloadimage{
  display: none;
}

.article-image-content .item_thumb{
  display: none;
}

.article-image-content img {
  margin: auto;
}

.item-buy-selector .size-chooser{
  border-bottom: 1px dashed #ccc;
  border-width: 1px 0;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.item-buy-selector .item_articleid,
.item-buy-selector .item_indexsize,
.item-buy-selector .item_size,
.item-buy-selector .item_idsize,
.item-buy-selector .item_currentquantity{
  display: none;
}

.article-size-list{
  list-style: none;
  padding-left: 0px;
}

.article-size-list li{
  padding: 11px 7px;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  z-index: 1;
  height: 36px;
  overflow: hidden;
  background: #B1B1B1;
  text-align: center;
  color: #ffffff;
  font-size: 1.5em;
  margin-bottom: 5px;
  margin-left: 2px;
  cursor: pointer;
}

.article-size-list li.active{
  background: #C27C86;
}

.article-size-list li.stockoff{
  background: #AC0000;
  cursor: default;
}

.no-stock{
  border-bottom: 1px dashed #ccc;
  border-width: 1px 0;
  color: rgb(252, 30, 30);
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.article textarea{
  min-height: 300px;
  max-height: 600px;
  resize: vertical;
}

.article .article-table .item-id{
  cursor: pointer;
  text-overflow: ellipsis;
  max-width: 100px;
  overflow: hidden;
}

.article .article-table .first-icon{
  cursor: pointer;
}

.article .article-table .second-icon{
  margin-left:10px;
  cursor: pointer;
}

.article-title{
  border-bottom: 1px dashed #C27C86;
  margin: 15px 0px;
}

.article-title h1{
  font-family: 'Flamenco', cursive;
}

.admin-article-date{
  text-align: right;
  padding-top: 20px;
}

.article-images-carousel .item{
  margin: 3px;
}

.article-images-carousel .item img{
  display: block;
  width: 100%;
  height: auto;
  cursor: pointer;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

.header{
  text-align: right;
}

  /* Space out the masthead */

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }

}

/* Customize container */
@media (max-width: 768px){
  .logo-container {
    max-width: 90px;
    top: 39px;
  }

  .carousel-control .icon-next {
    right: 4px;
  }

  .carousel-control .icon-prev {
    left: 15px;
  }

  .main-menu-ul > li {
    border-bottom: 1px dashed #C27C86;
    text-align: center;
  }

  .main-menu .main-menu-wrapper .main-menu-ul {
    border-bottom: none;
  }

  .main-menu-ul > li > a {
    text-align: center;
  }

  .main-menu .main-menu-wrapper .main-menu-ul {
    margin: 7.5px 0px 0px -10px;
  }

  .left-navbar {
    display: none;
  }

  .main-message-block .main-banner-subtitle {
    font-size: 17px;
  }
  
  .main-message-block .main-banner-title {
    font-size: 26px;
  }

  .article-price {
    
  }

}

/* Customize container */
@media (max-width: 500px){
  .logo-container {
    max-width: 80px;
    top: 45px;
  }

  .article-price {
    
  }

  .img-responsive-wrapper{
    max-height: 210px;
  }

  .cart-wrapper{
    width: 223px;
    float: right;
  }

  .simpleCart_items .item-thumb img {
    width: 50px;
  }

  .simpleCart_shelfItem .item-thumb{
    text-align: center;
  }

  .go_on{
    display: none;
  }
}

/* Customize container */
@media (max-width: 991px) {
  .left-navbar {
    display: none;
  }

  .article-price {
    
  }

}