/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.navbar {
  height: 60px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.rounded-box {
  margin-left: 0;
  margin-right: 0;
  background-color: #fff;
  border-width: 1px;
  border-color: #ddd;
  border-radius: 4px;
  box-shadow: none;
  border-style: solid;
}

.admin-price {
  padding: 10px 0;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px dashed #ccc;
  border-width: 1px 0;
}

.admin-label {
  margin-right: 5px;
}

.img-to-load {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 10px;
  cursor: pointer;
  overflow: hidden;
}

.img-to-load .glyphicon {
  width: 100%;
  text-align: center;
  padding-top: 11px;
}

.img-to-load input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  height: 50px;
}

.img-to-load .progress-bar-loading {
  margin-top: 10px;
}

.img-to-load img {
  width: 40px;
  height: 40px;
}

.img-to-load .remove-photo {
  position: absolute;
  top: -4px;
  right: 7px;
  color: red;
  font-size: 18px;
}


/* Text Angular */
.ta-btn-group{
  margin: 0.2em;
  text-align: right;
  overflow: hidden;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 1px rgb(196, 196, 196);
  display: inline-block;
}

.ta-btn-default{
  cursor: pointer;
  display: inline-block;
  padding: 0.2em 0.4em;
  margin-left: 0em;
  background-color: gray;
  color: white;
  font-size: 14px;
  background-position: initial initial;
  background-repeat: initial initial;
  border: none;
}

.ta-form-control{
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 4px;
  background-color: white;
  border: 1px solid rgba(2, 2, 2, 0.0980392);
  resize: both;
  overflow-y: auto;
  text-align: left;
  background-position: initial initial;
  background-repeat: initial initial;
  min-height: 300px;
}

.focussed .ta-form-control{
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 920px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Article styles */
.article textarea{
  min-height: 300px;
  max-height: 600px;
  resize: vertical;
}

.article .article-table .item-id{
  cursor: pointer;
}

.article .article-table .first-icon{
  cursor: pointer;
}

.article .article-table .second-icon{
  margin-left:10px;
  cursor: pointer;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 60px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
