<div ng-include="'partials/navbar.html'" class="header-wrapper"></div>

<div class="jumbotron">
	<table class="table">
		<thead>
			<tr>
			  <th class="text-center">Artículos</th>
			  <th class="text-center">Usuarios</th>
			  <th class="text-center">Ventas</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><a href="/admin/article" ><span class="glyphicon glyphicon-list"></span></a></td>
				<td><a href="/admin/article" ><span class="glyphicon glyphicon-user"></span></a></td>
				<td><a href="/admin/article" ><span class="glyphicon glyphicon-briefcase"></span></a></td>
			</tr>
		</tbody>
	</table>	
</div>