<div ng-include="'partials/navbar.html'"></div>

<div class="jumbotron">
	<table class="table">
		<thead>
			<tr>
			  <th class="text-center">Artículos</th>
			  <th class="text-center">Usuarios</th>
			  <th class="text-center">Ventas</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><span class="glyphicon glyphicon-list"></span></td>
				<td><span class="glyphicon glyphicon-user"></span></td>
				<td><span class="glyphicon glyphicon-briefcase"></span></td>
			</tr>
		</tbody>
	</table>	
</div>