<div class="article simpleCart_shelfItem">
	
	<div class="white-box article-view">
		<div class="spin article-spin glyphicon glyphicon-refresh" ng-show="loading"></div>
		<div class="row" ng-hide="loading">

			<div class="col-md-6">
				<div class="article-image-content">
					<img class="img-responsive lazyloadimage" lazyloadimage source="mainPhoto" ng-src="{{mainPhoto}}"/>
					<img class="img-responsive item_thumb" ng-src="{{cartPhoto}}"/>
				</div>
				<div class="main-banners-block border-dotted">
				    <div class="article-images-carousel" owl-carousel launch-owl="launchOwl">
						<div ng-repeat="slide in articleData.photosCarousel" on-finish-render owlTrigger="launchOwl" class="item"><img ng-src="{{slide}}" alt="Owl Image" ng-click="mainPhotoChanger(articleData.photosBig[$index])"></div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row article-title">
					<div class="col-md-7 ">
						<h1 class="item_name">{{articleData.name}}</h1>
					</div>
					<div class="col-md-5">
						<div class="article-price-wrapper">
							<span class="article-price item_price">{{articleData.price}} €</span>
						</div>
					</div>
				</div>
				
				<div class="item-buy-selector">
					<div class="size-chooser" ng-show="articleData.stock.length > 0">
						<label>Talla</label><br/>
						<ul class="article-size-list">
							<li ng-repeat="size in articleData.stock" ng-class="{'active' : (size.active && size.amount != 0) , 'stockoff' : (size.amount == 0)}" ng-click="setActiveSize($index)">{{size.size.value}}</li>
						</ul>

						<span class="item_articleid">{{articleData._id}}</span>
						<div class="item_idsize">{{sizeSelected.size._id}}</div>
						<div class="item_size">{{sizeSelected.size.value}}</div>
						<div class="item_currentquantity">{{sizeSelected.amount}}</div>		
						<span class="item_indexsize">{{indexSize}}</span>
						<div class="">
							<p>
								<div class="form-inline row">
									<div class="col-xs-5">
										<div class="btn-group btn-group-justified">
											<div class="btn-group">
												<button type="button" class="btn btn-default" ng-disabled="itemQuantity <= 0" ng-click="itemQuantity=itemQuantity-1;">
													<span class="glyphicon glyphicon-chevron-down"></span>
												</button>
											</div>
											<div class="btn-group">
												<span class="btn btn-default item_Quantity">{{itemQuantity}}</span>
											</div>
											<div class="btn-group">
												<button type="button" class="btn btn-default" ng-disabled="!sizeSelected || (itemQuantity == sizeSelected.amount)" ng-click="itemQuantity=itemQuantity+1;">
													<span class="glyphicon glyphicon-chevron-up"></span>
												</button>
											</div>
										</div>
									</div>
									<a class="item_add add-to-cart btn btn-default" href="javascript:;" ng-class="{'disabled' : (!sizeSelected || itemQuantity == 0)}"> Añadir al carrito </a>
								</div>							
							</p>
						</div>
					</div>
					<div class="no-stock" ng-hide="articleData.stock.length > 0">
						Sin stock
					</div>

				</div>

				<div >
					<label>Descripción</label><br/>
					<div ng-bind-html="articleData.description"></div>
				</div>

				<div>
					<span ng-repeat="label in articleData.tags" class="admin-label label label-primary">{{label}}</span>
				</div>
			</div>			
			<div class="clearfix"></div>
		</div>
	</div>
</div>
