<div class="article">
	
	<div class="white-box article-view">
		<div class="row">

			<div class="col-md-6">
				<div class="article-image-content">
					<img class="img-responsive" ng-src="{{mainPhoto}}"/>
				</div>
				<div class="main-banners-block border-dotted">
				    <div class="article-images-carousel" owl-carousel launch-owl="launchOwl">
						<div ng-repeat="slide in articleData.photosCarousel" on-finish-render owlTrigger="launchOwl" class="item"><img ng-src="{{slide}}" alt="Owl Image" ng-click="mainPhotoChanger(articleData.photosBig[$index])"></div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row article-title">
					<div class="col-md-8 ">
						<h1>{{articleData.name}}</h1>
					</div>
					<div class="col-md-4">
						<div class="article-price-wrapper">
							<span class="article-price">{{articleData.price}} €</span>
						</div>
					</div>
				</div>
				

				<div class="item-buy-selector">
					<div class="size-chooser" ng-show="articleData.stock.length > 0">
						<label>Talla</label><br/>
						<ul class="article-size-list">
							<li ng-repeat="size in articleData.stock" ng-class="{'active' : size.active}" ng-click="setActiveSize($index)">{{size.size.value}}</li>
						</ul>
					</div>
					<div class="no-stock" ng-hide="articleData.stock.length > 0">
						Sin stock
					</div>
				</div>

				<div >
					<label>Descripción</label><br/>
					<div ng-bind-html="articleData.description"></div>
				</div>

				<div>
					<span ng-repeat="label in articleData.tags" class="admin-label label label-primary">{{label}}</span>
				</div>
			</div>			
			<div class="clearfix"></div>
		</div>
	</div>
</div>
