<div class="shop">
	
	<div class="row">
		<div class="col-xs-6 col-md-2 left-navbar">

			<h5>Categorías</h5>
			<div ng-repeat="category in categories.categories">
			<ul class="nav">
				<li><input type="checkbox" ng-model="categoriesFilterValues" ng-true-value="{{category.id}}" ng-change="categoriesCheckChange(categoriesFilterValues, category.id)">{{category.name}}</li>
			</ul>
			</div>
			<h5>Precio</h5>
			<ul class="nav">
				<li><input type="checkbox"> menos de 5€</li>
				<li><input type="checkbox"> entre 5€ y 20€</li>
				<li><input type="checkbox"> más de 20€</li>
			</ul>
  		</div>
 		<div class="col-xs-12 col-md-10">
		  	<div class="main-catalog">

				<div class="row-fluid">      	
			        <div id="portfolio" class="row-catalog">
			        	<div ng-repeat="item in Items | categoriesFilter:categoriesFilterValues" class="item-wrapper" ng-click="goTo('article/' + item._id)">
			        		<div class="img-thumbnail ">
			        			<img ng-src="{{item.mainPhoto}}" class="img-responsive">
			        			<div class="item-description">
			        				<div class="title">
			        					{{item.name}}
			        				</div>
			        				<div class="short-description">
			        					{{item.shortDescription}}
			        				</div>
			        				<div class="price">
			        					{{item.price}} €
			        				</div>
			        			</div>
			        		</div>				        	
						</div>
					</div>
				</div>
			</div>
			<div infinite-scroll="LoadCatalog()"></div>
  		</div>
  		
	</div>

</div>
