<div class="global-footer-wrapper" ng-controller="FooterCtrl">
	<div class="main-block">
		<div class="row">
			<div class="col-md-3">
			</div>
			<div class="col-md-3">
				<h5>Síguenos</h5>
				<div class="social-links">
				    <ul>
						<li class="facebook"><a href="{{facebooklink}}" target="_blank" title="Dubi Duba en facebook" class="blank"><b class="social-icon--facebook"></b>Hazte fan en Facebook</a></li>
				    </ul>
				</div>
			    <h5>Categorías</h5>
				<div class="social-links">
				    <ul>
						<li class="pointer" ng-repeat="category in categories.categories" ng-click="goTo('/catalog/' + category.id)">{{category.name}}</li>
				    </ul>
				</div>
			</div>
			<div class="col-md-3">
				<h5>Contáctanos</h5>
				<form class="form" name="form" ng-submit="" novalidate>	
					<fieldset disabled>
						<div class="form-group">
							<input type="text" name="name" class="form-control input-sm" placeholder="email"  />
						</div>
						<div class="form-group">
							<textarea type="text" name="name" class="form-control input-sm" placeholder="Mensaje"></textarea>
						</div>
						<button class="btn btn-sm btn-primary" type="submit" disabled="disabled">Enviar</button>
					</fieldset>		
				</form>
			</div>
			<div class="col-md-3">
			</div>
		</div>
	  		
	</div>
	<div class="secondary-block">
		<div class="row">
			<div class="col-md-2">
			</div>
			<div class="col-md-7">
				Copyright © 2014 - Dubi Duba. Todos los derechos reservados.
			</div>
			<div class="col-md-1">
				<b class="paypal-logo"></b>
			</div>
			<div class="col-md-2">
			</div>
		</div>
	</div>
</div>