<div class="shop">

	<div class="main-banners-block border-dotted">
		<carousel interval="carouselInterval">
	      <slide ng-repeat="slide in maininfo.mainPhoto">
	        <img class="img-responsive" ng-src="{{slide}}"/>
	      </slide>
	    </carousel>		
	</div>

	<div class="main-message-block">
		<div class="main-banner-title copse-font"><span class="border-bottom-dotted">{{maininfo.mainbannertitle}}</span></div>
		<div class="main-banner-subtitle copse-font"><span class="border-bottom-dotted">{{maininfo.mainbannersubtitle}}</span></div>
	</div>
	<div class="main-small-images-block row">
		<div class="col-md-6">
			<div class="header favourites-header copse-font">
				Nuestros favoritos
			</div>
			<div class="favourites-body">
				<carousel>
					<slide ng-repeat="item in favouritesItems">
						<div class="col-md-6">
							<div class="img-thumbnail" ng-click="goTo('article/' + item[0]._id)">
								<div class="img-responsive-wrapper">
									<img class="img-responsive" ng-src="{{item[0].mainPhoto}}"/>
								</div>
							</div>
							<div class="favourites-titles">{{item[0].name}}</div>
							<div class="favourites-prices">{{item[0].price}} €</div>						
						</div>
						<div class="col-md-6">
							<div class="img-thumbnail" ng-click="goTo('article/' + item[1]._id)">
								<div class="img-responsive-wrapper">
									<img class="img-responsive" ng-src="{{item[1].mainPhoto}}"/>
								</div>
							</div>	
							<div class="favourites-titles">{{item[1].name}}</div>
							<div class="favourites-prices">{{item[1].price}} €</div>			
						</div>
					</slide>
	    		</carousel>	
			</div>
		</div>
		<div class="col-md-6">
			<div class="header newest-header copse-font">
				Últimas novedades
			</div>
			<div class="newest-body">
				<carousel>
					<slide ng-repeat="item in groupedItems">
						<div class="col-md-6">
							<div class="img-thumbnail" ng-click="goTo('article/' + item[0]._id)">
								<div class="img-responsive-wrapper">
									<img class="img-responsive" ng-src="{{item[0].mainPhoto}}"/>
								</div>
							</div>
							<div class="newest-titles">{{item[0].name}}</div>
							<div class="newest-prices">{{item[0].price}} €</div>
						</div>
						<div class="col-md-6">
							<div class="img-thumbnail" ng-click="goTo('article/' + item[1]._id)">
								<div class="img-responsive-wrapper">
									<img class="img-responsive" ng-src="{{item[1].mainPhoto}}"/>
								</div>
							</div>
							<div class="newest-titles">{{item[1].name}}</div>
							<div class="newest-prices">{{item[1].price}} €</div>
						</div>
					</slide>
	    		</carousel>
			</div>
		</div>
	</div>

</div>
