<div class="shop">
	<div ng-include="'partials/navbar'" class="header-wrapper"></div>


	<div class="main-banners-block border-dotted">
		<carousel interval="myInterval">
	      <slide ng-repeat="slide in maininfo.mainPhoto">
	        <img class="img-responsive" ng-src="{{slide}}"/>
	      </slide>
	    </carousel>		
	</div>

	<div class="main-message-block">
		<div class="main-banner-title copse-font"><span class="border-bottom-dotted">{{maininfo.mainbannertitle}}</span></div>
		<div class="main-banner-subtitle copse-font"><span class="border-bottom-dotted">{{maininfo.mainbannersubtitle}}</span></div>
	</div>
	<div class="main-small-images-block row">
		<div class="col-md-6">
			<div class="header favourites-header copse-font">
				Nuestros favoritos
			</div>
			<div class="favourites-body row">
				<div class="col-md-6">
					<div class="main-thumbnail" ng-click="goTo('admin/article/view/' + items[0]._id)">
						<div class="main-thumbnail-hidder">
							<img ng-src="{{items[0].mainPhoto}}"/>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="main-thumbnail" ng-click="goTo('admin/article/view/' + items[1]._id)">
						<div class="main-thumbnail-hidder">
							<img ng-src="{{items[1].mainPhoto}}"/>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="header newest-header copse-font">
				Últimas novedades
			</div>
			<div class="newest-body row">
				<div class="col-md-6">
					<div class="main-thumbnail" ng-click="goTo('admin/article/view/' + items[0]._id)">
						<div class="main-thumbnail-hidder" >
							<img ng-src="{{items[0].mainPhoto}}"/>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="main-thumbnail" ng-click="goTo('admin/article/view/' + items[1]._id)">
						<div class="main-thumbnail-hidder">
							<img ng-src="{{items[1].mainPhoto}}"/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
