<div class="shop">
	<div class="main-header">
		<div ng-include="'partials/navbar'" class="header-wrapper"></div>
		<div class="main-menu">
			<div ng-include="'partials/menunavbar'" class="main-menu-wrapper"></div>
		</div>
	</div>

	

	<div class="main-banners-block border-dotted">
		<carousel interval="carouselInterval">
	      <slide ng-repeat="slide in maininfo.mainPhoto">
	        <img class="img-responsive" ng-src="{{slide}}"/>
	      </slide>
	    </carousel>		
	</div>

	<div class="main-message-block">
		<div class="main-banner-title copse-font"><span class="border-bottom-dotted">{{maininfo.mainbannertitle}}</span></div>
		<div class="main-banner-subtitle copse-font"><span class="border-bottom-dotted">{{maininfo.mainbannersubtitle}}</span></div>
	</div>
	<div class="main-small-images-block row">
		<div class="col-md-6">
			<div class="header favourites-header copse-font">
				Nuestros favoritos
			</div>
			<div class="favourites-body">
				<carousel>
					<slide ng-repeat="item in favouritesItems">
						<div class="col-md-6">
							<div class="img-thumbnail" ng-click="goTo('article/' + item[0]._id)">
								<div class="img-responsive-wrapper">
									<img class="img-responsive" ng-src="{{item[0].mainPhoto}}"/>
								</div>
							</div>
							<div class="favourites-titles">{{item[0].name}}</div>
							<div class="favourites-prices">{{item[0].price}} €</div>						
						</div>
						<div class="col-md-6">
							<div class="img-thumbnail" ng-click="goTo('article/' + item[1]._id)">
								<div class="img-responsive-wrapper">
									<img class="img-responsive" ng-src="{{item[1].mainPhoto}}"/>
								</div>
							</div>	
							<div class="favourites-titles">{{item[1].name}}</div>
							<div class="favourites-prices">{{item[1].price}} €</div>			
						</div>
					</slide>
	    		</carousel>	
			</div>
		</div>
		<div class="col-md-6">
			<div class="header newest-header copse-font">
				Últimas novedades
			</div>
			<div class="newest-body">
				<carousel>
					<slide ng-repeat="item in groupedItems">
						<div class="col-md-6">
							<div class="img-thumbnail" ng-click="goTo('article/' + item[0]._id)">
								<div class="img-responsive-wrapper">
									<img class="img-responsive" ng-src="{{item[0].mainPhoto}}"/>
								</div>
							</div>
							<div class="newest-titles">{{item[0].name}}</div>
							<div class="newest-prices">{{item[0].price}} €</div>
						</div>
						<div class="col-md-6">
							<div class="img-thumbnail" ng-click="goTo('article/' + item[1]._id)">
								<div class="img-responsive-wrapper">
									<img class="img-responsive" ng-src="{{item[1].mainPhoto}}"/>
								</div>
							</div>
							<div class="newest-titles">{{item[1].name}}</div>
							<div class="newest-prices">{{item[1].price}} €</div>
						</div>
					</slide>
	    		</carousel>
			</div>
		</div>
	</div>


	<div class="main-footer">
  		<div class="socialLinks">
		    <ul>
				<li class="facebook"><a href="{{maininfo.facebooklink}}" title="Dubi Duba en facebook" class="blank"><img src="/images/facebook.png" alt="Únete a nosotros en Facebook"><span class="main-footer-facebook">Únete a nosotros en Facebook!!</span></a></li>
		    </ul>
		</div>
<!--
	  	<div class="footerNav">
		    <div class="inner">

		      	<div class="col">
		        	<h3><cufon class="cufon cufon-canvas" alt="Categories" style="width: 84px; height: 18px;"><canvas width="96" height="24" style="width: 96px; height: 24px; top: -5px; left: -1px;"></canvas><cufontext>Categories</cufontext></cufon></h3>
		        	<ul>
			    		<li>
			    			<a href="/shop/accessories">Accessories</a>
			    		</li>
		    		</ul>
		    	</div>

		    	<div class="col">
		        	<h3><cufon class="cufon cufon-canvas" alt="Information" style="width: 93px; height: 18px;"><canvas width="102" height="24" style="width: 102px; height: 24px; top: -5px; left: -1px;"></canvas><cufontext>Information</cufontext></cufon></h3>
		        	<ul>
		          		<li>
		          			<a href="/about-us">About us</a>
		          		</li>
		        	</ul>
		    	</div>
		    </div>
	  	</div>-->
	</div>
</div>
