<div class="article simpleCart_shelfItem">
	
	<h2>Mi carrito</h2>
	<div class="white-box article-view">
		<div class="row">


			<div class="col-md-12">
				<div class="simpleCart_items"></div>
			</div>

		</div>

		<div class="row">
			<div class="col-md-4">

			</div>
			<div class="col-md-8 total_costs">
				<div class="send_costs">
					<span class="send_cost_text">Gastos de envío:</span><span class="simpleCart_shipping"></span>
				</div>
				<div class="total_costs">
					<span class="total_cost_text">Total</span><span class="total_cost_value simpleCart_grandTotal"></span>
				</div>
			</div>
		</div>
		<div class="row end_buy">
			<div class="col-md-2">
				
			</div>
			<div class="col-md-10">
				<span class="go_on">Continuar comprando más artículos. Ver </span><a href="/catalog" class="continue_buying">Catálogo</a>
				<a ng-click="SendToCheckout()" class="btn btn-danger">Finalizar Compra
				</a>
			</div>
		</div>

	</div>

</div>