<div class="article simpleCart_shelfItem">
	
	<h2>Mi carrito</h2>
	<div class="white-box article-view">
		<div class="row">


			<div class="col-md-12">
				<div class="simpleCart_items"></div>
				<br />
				SubTotal: <span class="simpleCart_total"></span> <br />
				IVA: <span class="simpleCart_taxCost"></span> <br />
				Gastos de envío: <span class="simpleCart_shippingCost"></span> <br />
				-----------------------------<br />
				Total: <span class="simpleCart_finalTotal"></span> <br />

				<a href="javascript:;" class="simpleCart_checkout">Finalizar compra</a>	
			</div>			

		</div>

	</div>

</div>