<div class="article">
	<div ng-include="'partials/navbar.html'" class="header-wrapper"></div>

	<div class="col-sm-12">
		<h1>Categorías</h1>
	</div>

	<div class="col-sm-12">

		<ol ui-nested-sortable="" ng-model="categories.categories">
		  <li ng-repeat="category in categories.categories" ui-nested-sortable-item="">
		    <div ui-nested-sortable-handle>
		    	<div>
	      			<span class="anchor-icon first-icon glyphicon glyphicon-align-justify"></span><input type="text" name="name" placeholder="Nueva Categoría" data-nodrag class="form-control input-sm input-cleared" ng-model="category.name" ng-blur="saveCategories()" /></input>
		      	</div>
	      		<div class="options-icons">
			      	<a class="pull-right btn btn-xs" data-nodrag ng-click="removeCategories(this)">
			      		<span style="color:#d9534f" class="second-icon glyphicon glyphicon-remove" ></span>
			      	</a>
			      	<a class="pull-right btn btn-xs" data-nodrag ng-click="goTo('admin/article/edit/' + category._id)">
			      		<span class="first-icon glyphicon glyphicon-plus" ng-click="newSubCategory(this)" ></span>
			      	</a>
			      	<a class="pull-right btn btn-xs" data-nodrag ng-hide="category.children.length == 0" ng-click="toggle(this)">
			      		<span class="first-icon glyphicon glyphicon-chevron-down" ></span>
			      	</a>
			    </div>
		    </div>
		    <ol ui-nested-sortable="" ng-model="category.children">
		      <li ng-repeat="subCategory in category.children" ui-nested-sortable-item="">
		        <div ui-nested-sortable-handle>
		        	<div>
		          		<span class="anchor-icon first-icon glyphicon glyphicon-align-justify"></span><input type="text" name="name" placeholder="Nueva Categoría" data-nodrag class="form-control input-sm input-cleared" ng-model="subCategory.name" ng-blur="saveCategories()"/></input>
		      		</div>
		        	<div class="options-icons">
		      			<a class="pull-right btn btn-xs" data-nodrag ng-click="removeCategories(this)">
		      				<span style="color:#d9534f" class="second-icon glyphicon glyphicon-remove" ></span>
		      			</a>
		      		</div>
		        </div>
		      </li>
		    </ol>
		    <ol>
		    <a class="pull-right btn btn-xs" data-nodrag ng-click="goTo('admin/article/edit/' + category._id)">
		      		<span class="first-icon glyphicon glyphicon-plus" ng-click="newCategory()" ></span>
			  	</a>
			</ol>
		  </li>      
		</ol>

		<p class="help-block">{{ errors.other }}</p>
	</div>
</div>
