<div class="article">
	<div ng-include="'partials/navbar.html'" class="header-wrapper"></div>

	<div class="col-sm-12">
		<h1>Categorías</h1>
	</div>

	<div class="col-sm-12">

		<table class="article-table table table-hover">
		  <thead>
		    <tr>
		      <td><b>Id</b></td>
		      <td><b>Nombre</b></td>
		    </tr>
		  </thead>
		  <tbody>
		    <tr ng-repeat="category in categories">
		      <td class="item-id" ng-click="goTo('admin/article/view/' + item._id)">{{category._id}}</td>
		      <td>{{category.name}}</td>
		      <td><span class="first-icon glyphicon glyphicon-pencil" ng-click="goTo('admin/article/edit/' + item._id)"></span><span style="color:#d9534f" class="second-icon glyphicon glyphicon-remove" ng-click="RemoveCategory(category._id)"></span></td>
		    </tr>
		  </tbody>
		</table>
		

		<div>
			<button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Añadir Categoría</button>
			<hr>
			<div collapse="isCollapsed">
				<form class="form" name="form" ng-submit="saveCategory(newCategory)" novalidate>
				
				<div class="form-group">
					<label>Nombre de categoría</label>
					<input type="text" name="name" class="form-control" ng-model="newCategory.name" />    
				</div>

				<button class="btn btn-lg btn-primary" type="submit" ng-class="{disabled: (newCategory.name == '' || newCategory.name == null)}">Guardar cambios</button>
				<button class="btn btn-lg btn-primary" ng-click="goTo('admin')">Cancelar</button>

			</form>
			</div>
		</div>

		<p class="help-block">{{ errors.other }}</p>
	</div>
</div>
