<div class="article sizes-list" ng-controller="AdminSizesCtrl">

	<div class="col-sm-12">

		<table class="table" ng-show="sizes.length">
			<thead>
				<tr>
					<th>Valor</th>
					<th>Descripción</th>
					<th>Ancho (cm)</th>
					<th>Alto (cm)</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="size in sizes">
					<td>{{size.value}}</td>
					<td>{{size.name}}</td>
					<td>{{size.width}}</td>
					<td>{{size.height}}</td>
					<td><span style="color:#d9534f" class="delete-size-icon glyphicon glyphicon-remove" ng-click="RemoveSize(size._id)"></span></td>
				</tr>
				
			</tbody>
		</table>
		<form class="form-inline" role="form">
			<fieldset>
				<div class="form-group">
					<input type="text" class="form-control" id="nameInput" placeholder="Nombre de talla" ng-model="newsize.value">
				</div>
				<div class="form-group">
					<input type="text" class="form-control" id="nameInput" placeholder="Nombre de talla" ng-model="newsize.name">
				</div>
				<div class="form-group">
					<input type="text" class="form-control" id="nameInput" placeholder="Nombre de talla" ng-model="newsize.width">
				</div>
				<div class="form-group">
					<input type="text" class="form-control" id="nameInput" placeholder="Nombre de talla" ng-model="newsize.height">
				</div>
				<div class="form-group btn-sizes-accept">
					<button type="submit" class="btn btn-default" ng-click="AddSize(newsize)">Añadir Talla</button>
				</div>
			</fieldset>
		</form>
	</div>
</div>